@model WeatherMain
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Awakenings festival Temp: </h1>
    <div id="toilet_container">
        @await Component.InvokeAsync("Toilet")
    </div>
</div>
        
<script>
    var container = $("#toilet_container");
    var refreshComponent = function () {
        $.get("/Home/ToiletViewComponent", function (data) { container.html(data); });
    };

    $(function () { window.setInterval(refreshComponent, 1000); });
</script>